apiVersion: v1
clusters:
- cluster:
    certificate-authority: D:/GoProject/kubelet/certs/ca.crt
    server: https://110.41.142.160:6443
  name: default-cluster
contexts:
- context:
    cluster: default-cluster
    namespace: default
    user: default-auth
  name: default-context
current-context: default-context
kind: Config
preferences: {}
users:
- name: default-auth
  user:
    as-user-extra: null
    client-certificate: D:\GoProject\kubelet\certs\kubelet\kubelet-client-current.pem
    client-key: D:\GoProject\kubelet\certs\kubelet\kubelet-client-current.pem
